@import url("//fonts.googleapis.com/earlyaccess/nats.css");

body {
	margin: 0;
	padding: 0;
	color: white;
	font-family: "Nats", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: larger;
}

.root {
	margin: 0;
	padding: 0;
}
